body {
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-size: Cover;
    background-attachment: fixed;
    background-position: center;
}

nav {
    background-color: white;
    height: 60px;
    overflow: hidden;
    margin: -16px -8px;
}

nav a {
    float: right;
    display: block;
    color: black;
    padding: 20px 20px;
    height: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 3px;

}

nav img {
    text-align: left;
    width: 45px;
    height: 50px;
    margin-top: 9px;
    margin-left: 10px;
}

#StudentTable{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 3px;
}

#Err {
    width: 500px;
    height: 100px;
    border: 3px solid;
    margin: auto;
    text-align: center
}

#text {
    width: 500px;
    height: 100px;
    margin: auto;
    text-align: center
}

button {
    background-color: #F44B5E;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 24px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.342);
    cursor: pointer;
}

button:hover {
    background-color: #D23146;
}

button:active {
    background-color: #A61420;
}

#label {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
}

#search_bar {
    margin-top: 50px
}

input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
}


table {
    margin: auto;
    margin-top: 70px;
    width: 70%;
    text-align: center;
    background-color: transparent;
    border: 1px solid #023a89;
    border-radius: 1em;

}

table a {
    text-decoration: none;
}

th {
    font-size: 30px;
}

td {
    color: white;
    font-size: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    background-color: transparent;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);

}

td:hover {
    background-color: rgba(0, 0, 0, 0.1);

}

nav #SearchNAV {
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 3px;
}