<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link href="../static/css/Home.css" rel="stylesheet">
  <link rel="icon" href="../static/images/icon.png">

</head>

<body>
  <nav class="nav">
    <div>
      <img src="../static/images/Logo%20of%20Cairo.jpg" alt="no photo" class="cairo_photo">
      <a href="#footer-clean">ABOUT US</a>&emsp;
      <a href="{% url 'Login' %}">LOGIN</a>&emsp;
      <a href="{% url 'Register' %}">REGISTER</a>&emsp;
      <a id="Home">Home</a>&emsp;
    </div>
  </nav>
  <div class="Welcome">
    <h1>Welcome</h1>
    <br>
    <p>The Student Affairs website provides comprehensive support and resources to students at the institution.
      The mission is to enhance the overall student experience by promoting student success, engagement, and
      well-being like add or remove students, update student information.</p>
  </div>
  <input type="button" onclick="window.location.href='Register/';" class="Button" value="Register Now" />
  <footer id="footer-clean">
    <div class="container">
      <h3>About</h3>
      <ul>
        <li><a href="https://www.facebook.com/groups/fcaicu2025/" target="_blank">Faculty</a></li>
        <li><a href="#">Team</a></li> <!-- Add  team page -->
      </ul>
    </div>
    <div>
      <p class="copyright">FCAI © 2023</p>
    </div>
  </footer>
</body>

</html>