<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link href="../static/css/index.css" rel="stylesheet">
</head>

<body>
  <div class="Project1">
    <label>
      <span class="details">Students Affairs</span>
      <a href="{% url 'Home' %}"><img id="Project1" type="text" alt="There is an image"
          src="../static/images/1.jpg"></a>
    </label>
  </div>

  <div class="Project2">
    <label>
      <span class="details">Human Resources</span>
      <img id="Project2" type="text" alt="There is an image" src="../static/images/1.jpg">
    </label>
  </div>

  <div class="Project3">
    <label>
      <span class="details">Higher Studies</span>
      <img id="Project3" type="text" alt="There is an image" src="../static/images/1.jpg">
    </label>
  </div>

  <div class="Project4">
    <label>
      <span class="details">Laboratory Tracking</span>
      <img id="Project4" type="text" alt="There is an image" src="../static/images/1.jpg">
    </label>
  </div>
</body>

</html>