<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Update Data</title>
  <script src="/../static/js/Update.js"></script>
  <link rel="stylesheet" href="/../static/css/logintoupdate.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js">
  </script>


  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <nav class="nav">
    <div>
      <img src="/../static/images/Logo%20of%20Cairo.jpg" alt="no photo" class="cairo_photo">
      <a href="{% url 'Home' %}">LOGOUT</a>&emsp;
      <a ID="Update">UPDATE</a>&emsp;
      <a href="{% url 'Home-Registered' %}">HOME</a>&emsp;
    </div>
  </nav>

  <form method="POST" action="{% url 'loginToUpdate' %}?id={{ ID.value|urlencode }}">
    {% csrf_token %}
    <div class="box">
      <div class="container">

        <div class="top">
          <header>Enter ID</header>
        </div>

        <div class="input-field">
          <input name="ID" type="text" class="input" placeholder="ID" id="ID">
          <i class='bx bx-user'></i>
        </div>

        
        <div class="input-field">
          <button class="submit" type="submit" >Show Data</button>
        </div>
      </div>
    </div>
  </form>
</body>

</html>