<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Student Data</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
  <script src="/../static/js/Register.js"></script>
  <link href="/../static/css/Register.css" rel="stylesheet">
  <link rel="icon" href="../static/images/icon.png">
</head>

<body>
  <nav class="nav">
    <div>
      <img src="/../static/images/Logo%20of%20Cairo.jpg" alt="no photo" class="cairo_photo">{% csrf_token %}
      <a href="#footer-clean">ABOUT US</a>&emsp;
      <a href="{% url 'Login' %}">LOGIN</a>&emsp;
      <a id="Register">REGISTER</a>&emsp;
      <a href="{% url 'Home' %}">HOME</a>&emsp;

    </div>
  </nav>

  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form method="POST" id="validateForm" name="validateForm"> {% csrf_token %}
        <div class="user-details">

          <div class="input">
            <label>
              <span class="details">User Name</span>
              <input id="Name" name="Name" type="text" placeholder="Enter your User name">
            </label>
          </div>

          <div class="input">
            <label>
              <span class="details">ID</span>
              <input id="ID" name="Id" type="number" placeholder="Enter your id">
            </label>
          </div>

          <div class="input">
            <label>
              <span class="details">Email</span>
              <input id="E" name="Email" type="text" placeholder="Enter your Email">
            </label>
          </div>

          <div class="input">
            <label>
              <span class="details">Phone</span>
              <input id="Ph" name="Phone" type="number" placeholder="Enter your Phone">
            </label>
          </div>

          <div class="input">
            <label>
              <span class="details">Enter your Brith Date</span>
              <input id="Dob" name="BirthDate" type="Date" placeholder="Enter your Brith Date">
            </label>
          </div>

          <div class="input">
            <label>
              <span class="Gender">Enter your Gender</span>
              <select id="g" name="Gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </label>
          </div>

          <div class="input">
            <label>
              <span class="details">Enter The Password</span>
              <input type="password" name="Password" placeholder="Enter The Password" id="Pass">
            </label>
          </div>

          <div class="input">
            <label>
              <span class="details">Confirm Password</span>
              <input type="password" name="PassConf" placeholder="Confirm Password" id="PassConf">
            </label>
          </div>
        </div>

        <div class="button">
          <button type="submit">Register</button>
        </div>

      </form>
    </div>
  </div>

  <footer id="footer-clean">
    <div class="Footer">
      <h3>About</h3>
      <ul>
        <li><a href="https://www.facebook.com/groups/fcaicu2025/" target="_blank">Faculty</a></li>
        <li><a href="#">Team</a></li> <!-- Add  team page -->
      </ul>
    </div>
    <div>
      <p class="copyright">FCAI © 2023</p>
    </div>
  </footer>
</body>

</html>