<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student Data</title>
    <script src="../js/Update.js"></script>
    <link rel="stylesheet" href="../css/update.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
  </head>
  <body onload="showdata()">
    <nav>
      <div class="nav">
        <img src="../Images/Logo%20of%20Cairo.jpg" alt="no photo" class="cairo_photo">
        <a href="#footer-clean">ABOUT US</a>&emsp;
        <a href="../HTML/Home-Registered.html">LOGOUT</a>&emsp;
        <a id="Update" href="Update.html">Update</a>&emsp;
        <a href="Home-Registered.html">Home</a>&emsp;
      </div>
    </nav>

    <div class="container">
      <div class="content">
        <form>
          <div class="user-details">

            <div class="input">
              <label>
                <span class="details">User Name</span>
                <input type="text" placeholder="username" id="username">
              </label>
            </div>

            <div class="input" >
              <label>
                <span class="details">ID</span>
                <input readonly type="text" minlength="8" maxlength="8" name="ID" id="ID">
              </label>
            </div>

            <div class="input">
              <label>
                <span class="details">Email</span>
                <input id="E" type="email">
              </label>
            </div>

            <div class="input">
              <label>
                <span class="details">Phone</span>
                <input type="text" name="Phone" maxlength="11" id="Ph">
              </label>
            </div>

            <div class="input">
              <label>
                <span class="details">GPA</span>
                <input type="text" name="GPA" id="GPA" />
              </label>
            </div>

            <div class="input">
              <label>
                <span class="details">Date of Birth</span>
                <input id="Dob" type="Date">
              </label>
            </div>

            <div class="input">
              <label>
                <span class="Gender">Enter your Gender :</span>
                  <select id="g">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                  </select>
              </label>
            </div>

            <div class="input">
              <label>
                <span class="details">Level</span>
                <input type="text" id="Lev">
              </label>
            </div>

            <div class="input">
              <label>
                <span class="details">Enter your Status</span>
              </label>
              <div class="Rad">
                <label for="Active">Active</label>
                <input class="Radio" type="radio" id="Active" name="Status" value="Active">

                <label class="Text" for="Inactive">Inactive</label>
                <input class="Text2" type="radio" id="Inactive" name="Status" value="Inactive">
              </div>
            </div>

            <div class="input">
              <label>
                <span class="details">Department</span>
                <input type="text" disabled id="Depart">
              </label>
            </div>

            <div class="button">
              <button type="button" onclick="Done()">Done</button>
              <button type="button" onclick="Remove()">Delete Student</button>
            </div>

          </div>
        </form>
      </div>
    </div>

    <footer id="footer-clean">
      <div class="Footer">
        <h3>About</h3>
        <ul>
          <li><a href="https://www.facebook.com/groups/fcaicu2025/" target="_blank">Faculty</a></li>
          <li><a href="#">Team</a></li> <!-- Add  team page -->
        </ul>
      </div>
      <div >
        <p class="copyright">FCAI © 2023</p>
      </div>
    </footer>
  </body>
</html>
